body {
    text-align: center;
    background-color: beige;
}

h1 {
    font-family: arial;
    font-size: 40px;
}

h3 {
    font-family: arial;
    font-size: 20px;
}

#bill {
    width: 100px;
}

.button {
    background-color: rgb(0, 80, 155);
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(0, 119, 230);
}

#tipResult {
    font-family: arial;
    font-size: 30px;
    color: green;
    font-weight: bold;
}

#message {
    margin-top: 30px;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
}